html {
  font-size: calc(100vw / 1280);
}
body {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  font-size: 14rem;
}
:root {
  --blue: #52838b;
  --purple: #8789c9;
  --black: #000000;
}

/* ------------------start FV carousel style */

/* Show just one 991px wide slide at a time */
footer {
  margin-bottom: 100rem;
}
.carousel {
  width: 100%;
  /* height: auto; */
}
.carousel__slides,
.carousel__slide {
  width: 100%;
}
/* Make carousel swipeable */
.carousel__slides {
  column-gap: 0;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.carousel__slide {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.carousel__slide img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
}
.carousel__slides.smooth-scroll {
  scroll-behavior: smooth;
}
/* Hide scrollbar */
.carousel__slides {
  scrollbar-width: none; /* Firefox and latest Chromium */
}
.carousel__slides::-webkit-scrollbar {
  display: none; /* Safari and legacy Chromium */
}

/* Styling nav dots */
.carousel {
  position: relative;
}
.carousel__navdots {
  position: absolute;
  bottom: 31rem;
  column-gap: 16px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 66rem;
  right: 0;
  width: fit-content;
}
.carousel__navdots button {
  /* reset default style */
  -moz-appearance: none;
  -webkit-apperance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  /* style as a grey dot */
  background-color: #ffffff;
  height: 10rem;
  padding: 0;
  width: 10rem;
}
.carousel__navdots button.is-active {
  background-color: #52838b; /* blue */
}
.carousel__navdots button:focus-visible {
  outline: 2px solid #52838b; /* blue */
  outline-offset: 2px;
}

/* Stylistic purpose */
.carousel-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  padding: 0 0;
  z-index: 1;
}
.carousel {
  margin: 0 0;
}

/* ------------------end FV carousel style */

/* common style */
h1 {
  font-size: 61.43rem;
}
h2 {
  font-size: 50rem;
  font-family: "Damion", cursive;
}
h3 {
  font-size: 35rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}
.container {
  padding: 0 169rem;
}
/* header style */

/* ------------- */
/* Existing CSS */
header {
  position: relative;
}

.navbar {
  position: absolute;
  background: none;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 45rem;
  margin-right: 21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  transition: all 0.3s ease;
}

.bar > .logo > img {
  width: 170rem;
  height: auto;
}
.nav-contact>div {
  cursor: pointer;
}
.nav-contact-last {
  transition: all 0.3s ease; 
}
.nav-contact-last:hover {
  background-color: #4e51a3;
}
.sp-button h4 {
  text-decoration: none;
  color: white;
}

.global-link ul {
  display: flex;
  gap: 35.6rem;
  justify-content: start;
  align-items: center;
  padding-left: 0;
}

.global-link ul li a {
  color: white;
  text-decoration: none;
}
/* .fv-txt h1 {
 z-index: 0;
} */
.fv-txt img {
  width: 380rem;
  height: auto;
}

.nav-contact {
  display: flex;
  width: 40%;
  transition: all 0.3s ease;
}

.nav-contact > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8789c9;
  padding: 15rem 0 15rem;
  justify-content: center;
}

.nav-contact > div:first-child {
  background: #52838b;
  padding: 15rem 0 15rem;
}

.nav-contact > div > div {
  display: flex;
  gap: 4.6rem;
}

.nav-contact > div > div img {
  width: 25rem;
}

.nav-contact > div:first-child div img {
  width: 22rem;
}

.nav-contact p {
  font-size: 12.5rem;
  color: white;
  margin: 2.5rem 0 2.5rem;
}

.nav-contact h4 {
  margin: 0 0;
  font-size: 24rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.nav-contact > div:first-child {
  background: #52838b;
  padding: 16rem 0 16rem;
}

.nav-contact-last p {
  margin: 0;
  font-size: 15rem;
  font-weight: bold;
}
.sp-button {
  transition: all 0.3s ease; 
}
/* New CSS for Fixed Positioning */
.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin-left: 0 !important;
  background: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
  padding: 17rem 20rem; /* Adjust the top, left, and right padding */
}

.fixed-bar .logo img {
  padding-left: 30rem;
  filter: invert(1) brightness(0); /* This order ensures the logo color changes correctly */
}
.fixed-bar button img {
  filter: invert(1) brightness(0); /* This order ensures the logo color changes correctly */
}
.fixed-bar .global-link ul {
  padding-right: 51rem;
}
.fixed-bar .global-link ul li a {
  color: #000000; /* Change links color to black */
}

/* Default styles for .nav-contact */
.nav-contact {
  display: flex;
  width: 40%;
  transition: all 0.3s ease;
}

/* Styling changes only when scrolled */
.fixed-nav-contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  padding: 10rem 20rem;
  box-shadow: 0 -2rem 4rem rgba(0, 0, 0, 0.1);
}
.fixed-nav-contact > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13rem;
  align-items: center;
  width: 40%;
  padding: 17rem 0 17rem !important;
  border-radius: 6.3rem;
}
.fixed-nav-contact p {
  text-align: center;
  border: 1px solid white;
  border-radius: 20rem;
  width: 40%;
  padding: 10rem 15rem;
}

/* Default state - hide the scroll-to-top button */
.scroll-top-button {
  display: none; /* Hidden by default */
  position: absolute;
  right: 2rem;
  top: 18%;
  transform: translateY(-50%);
  background: #52838b;
  border: none;
  padding: 10rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Show the button when .show-scroll-top class is added */
.fixed-nav-contact.show-scroll-top .scroll-top-button {
  display: block;
}

.scroll-top-button:hover {
  background: #466d74;
}

.scroll-top-button img {
  width: 15px;
  height: auto;
}

/* ------------- */

/* fv txt style */
.fv-txt {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 66rem;
  padding-top: 22vh;
  color: white;
}
.fv-txt h1 {
  text-decoration: underline #f9c038;
  width: fit-content;
}

.fv-txt h4 {
  font-size: 23.21rem;
}
.fv-txt h2 {
  font-size: 41rem;
}
.fv-txt h6 {
  width: fit-content;
  font-size: 16.29rem;
  margin-top: 32.54rem;
  padding: 6rem 20rem;
  color: #000000;
  background: #ffffff;
  border-radius: 3rem;
}
.fv-txt h5 {
  font-size: 24.09rem;
}
.fv-txt span {
  font-size: 33.51rem;
  font-weight: bold;
  text-decoration: none !important;
}
.fv-txt div {
  display: flex;
  align-items: baseline;
}
.fv-badge {
  position: absolute;
  z-index: 5;
  bottom: 31rem;
  right: 45rem;
}
.fv-badge img {
  width: 517rem;
  height: auto;
}

/* main style */
/* f-sec style */
.f-sec-first {
  background-image: url(../img/first-section-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72rem;
  padding-bottom: 72rem;
}
.f-sec-first > div {
  background: #ffffff;
  padding: 39rem 42rem 9rem 60rem;
  border-radius: 10rem;
  margin-left: 35rem;
  margin-right: 35rem;
}
.f-sec-first > div h4 {
  font-size: 30.6rem;
  text-align: center;
  color: var(--blue);
}
.f-sec-main {
  padding-top: 53rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.f-sec-main h5 {
  font-size: 24rem;
  color: var(--black);
}
.f-sec-main span {
  color: var(--blue);
}
.f-sec-main > div > div {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
}
.f-sec-main > div > div img {
  width: 43rem;
  height: 43rem;
}
.f-sec-main > div > img {
  width: 352rem;
  height: auto;
}
.f-sec-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56rem;
}
.f-sec-last .logo-bg {
  padding-top: 26.4rem;
  width: 407rem;
  height: auto;
}
.f-sec-last h4 {
  font-size: 26rem;
  color: var(--blue);
  padding-top: 17rem;
}
.reason {
  background-image: url(../img/reason-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 78rem;
  padding-bottom: 102rem;
  margin-top: 62rem;
}
.reason-ttl h2,
.reason-ttl h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}
.reason-ttl h2 {
  font-weight: 400;
}
.reason-ttl h3 {
  letter-spacing: 4rem;
}
.reason-ttl {
  margin-bottom: 54rem;
}
.reason-pan {
  background: white;
  padding: 26.5rem 37.5rem 36.5rem 37.5rem;
  border-radius: 15rem;
  width: 450rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reason-pan h4 {
  text-align: center;
  font-family: "Damion", cursive;
  font-size: 26rem;
  color: var(--blue);
}
.reason-pan h4 span {
  font-size: 35rem;
}
.reason-pan h5 {
  color: var(--blue);
  text-align: center;
  font-size: 22rem;
  padding-top: 4rem;
  padding-bottom: 20rem;
}
.reason-pan p {
  font-weight: 400;
  font-size: 16rem;
  color: #505050;
  padding-bottom: 36rem;
}
.reason-grp {
  display: flex;
  justify-content: space-between;
  gap: 24.8rem;
  margin-bottom: 24rem;
}
.reason-i-1 {
  width: 285rem;
  height: auto;
}
.reason-i-2 {
  width: 263rem;
  height: auto;
}
.reason-i-3 {
  width: 307rem;
  height: auto;
}
.reason-i-4 {
  width: 300rem;
  height: auto;
}

/* about section style */
.about {
  background-image: url(../img/about-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 116rem;
  padding-bottom: 98rem;
}
.about > div {
  width: 457rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  font-family: "Damion", cursive;
  color: var(--blue);
  font-size: 50rem;
  font-weight: 400;
  text-align: center;
}
.about h3 {
  font-size: 35rem;
  color: var(--blue);
  text-align: center;
}
.about h5 {
  padding-top: 25rem;
  font-size: 23rem;
  color: var(--black);
  text-align: center;
}
.about > div > div {
  color: var(--blue);
  font-size: 18rem;
  background-color: white;
  border-radius: 10rem;
  padding: 24rem 23rem 17rem 29rem;
  font-weight: 500;
  line-height: 35rem;
  width: fit-content;
  margin-top: 25rem;
}

.voice {
  background-image: url(../img/voice-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 74rem;
  padding-bottom: 66rem;
}
.voice-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue);
}
.voice-ttl h3 {
  padding-top: 31rem;
  padding-bottom: 20rem;

  text-align: center;
}
.voice-ttl h2 {
  font-weight: 400;
}
.voice-grp {
  display: flex;
  justify-content: space-between;
  padding-top: 38rem;
}
.voice-pan {
  position: relative;
  overflow: hidden;
  width: 447rem;
  padding-top: 22rem;
  padding-bottom: 36rem;
  background: #ffffff;
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0 100%);
  box-shadow: 0 4rem 8rem 0 rgba(0, 0, 0, 0.2),
    0 6rem 20rem 0 rgba(0, 0, 0, 0.19);
}

.voice-pan > div {
  padding-left: 35rem;
  padding-right: 48rem;
}
.voice-img-pan {
  margin-top: 19rem;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 37rem;
}
.voice-img-pan > img {
  width: 68rem;
  height: auto;
}
.voice-img-pan > div img {
  width: 154rem;
  height: auto;
}
.voice-img-pan h5 {
  font-size: 20rem;
  padding-top: 3rem;
  color: #333333;
}
.voice-txt-pan {
  font-size: 16rem;
  color: #333333;
  border-top: 2px solid var(--purple);
  margin-top: 5rem;
  padding-top: 15rem;
}
.voice-pan > h6 {
  font-size: 16rem;
  color: white;
  background: var(--purple);
  padding-left: 29rem;
  padding-right: 23rem;
  width: fit-content;
}
.voice-txt-pan span {
  position: relative;
  z-index: 10;
}
.voice-txt-pan span::before {
  content: "";
  position: absolute;
  background: #ffef98;
  width: 100%;
  height: 8rem;
  bottom: -1rem;
  z-index: -1;
  right: 0;
}
/* flow section style */
.flow {
  padding-top: 80rem;
  padding-bottom: 100rem;
}
.flow-ttl {
  color: var(--blue);
  padding-bottom: 50rem;
  text-align: center;
}
.flow-ttl h2 {
  font-size: 40rem;
  font-weight: 400;
}
.flow-ttl h3 {
  padding-top: 8rem;
}
.flow-main {
  padding-left: 21rem;
  padding-right: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flow-pan {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 53rem;
  padding-top: 24rem;
  padding-bottom: 24rem;
  border-bottom: 1px solid var(--purple);
  width: 100%;
}
.pc-part {
  display: flex;
  align-items: center;
}
.flow-pan:first-child {
  border-top: 1px solid var(--purple);
}
.flow-pan > div {
  align-items: center;
  display: flex;
  width: 33.2% !important;
}
.flow-pan h4 {
  color: white;
  font-size: 22rem;
  padding: 10rem 20rem;
  border-radius: 100%;
  background-color: var(--purple);
  margin-right: 18rem;
}
.flow-pan h5 {
  color: var(--purple);
  font-size: 22rem;
  font-weight: 500;
}
.flow-pan p {
  font-size: 16rem;
  width: 63.2%;
  color: #464646;
}
.price {
  padding-top: 85rem;
  padding-bottom: 100rem;
  background: #c7e3e8;
}
.price-ttl {
  text-align: center;
  color: #3d7a81;
  padding-bottom: 70rem;
}
.price-ttl h2 {
  font-size: 40rem;
  font-weight: 400;
  padding-bottom: 0rem;
}
.price .empty-pan {
  width: 100%;
  background: white;
  height: 386rem;
  color: black;
  font-size: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.faq {
  padding-top: 86rem;
  padding-bottom: 100rem;
  background-image: url(../img/faq-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.faq-ttl {
  padding-bottom: 6rem;
  color: #3d7a81;
  text-align: center;
}
.faq-ttl h2 {
  font-weight: 400;
  font-size: 40rem;
}
.faq-pan {
  margin-top: 32rem;
  padding: 33rem;
  background-color: white;
  border-radius: 12rem;
}
.faq-q {
  display: flex;
  gap: 9rem;
  align-items: center;
  padding-bottom: 21rem;
  border-bottom: 1px solid var(--purple);
}
.sp-show {
  display: none;
}
.sp-hidden {
  display: block;
}
.faq-q h4 {
  color: white;
  background: var(--purple);
  padding: 3rem 13rem;
  font-size: 30rem;
  border-radius: 100%;
}
.faq-q h5 {
  color: var(--purple);
  font-size: 26rem;
}
.faq-a {
  padding-top: 24rem;
  display: flex;
  gap: 9rem;
  align-items: flex-start;
}
.faq-a h4 {
  color: var(--purple);
  background: white;
  padding: 2rem 14rem;
  font-size: 30rem;
  border-radius: 100%;
  border: 1px solid var(--purple);
}
.faq-a h6 {
  padding-top: 8rem;
  font-size: 16rem;
  font-weight: 400 !important;
  color: #000000;
}
.contact {
  background-image: url(../img/contact-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 74rem;
  padding-bottom: 100rem;
}
.contact-ttl {
  text-align: center;
  color: var(--blue);
  padding-bottom: 73rem;
}
.contact-ttl h2 {
  font-size: 40rem;
  font-weight: 400 !important;
}
.contact-form {
  position: relative;
  margin-left: 44rem;
  margin-right: 44rem;
  background: white;
  padding: 66rem 75rem 132rem 75rem;
}
.contact-item {
  display: flex;
  align-items: center;
  padding-bottom: 23rem;
  gap: 17rem;
}
.contact-item label {
  font-size: 16rem;
  width: 160rem;
}
.contact-item label span {
  color: red;
}
.contact-item input,
.contact-item textarea {
  width: 534rem;
  border: none;
  background: #e4e5e4;
  font-size: 14rem;
  height: 35rem;
  padding-left: 12rem;
  padding-right: 12rem;
}
.contact-item input:focus {
  outline: none;
}
.contact-item textarea:focus {
  outline: none;
}
.contact-item-textarea {
  align-items: flex-start !important;
}
.contact-item-check {
  padding-bottom: 59rem;
}
.contact-item-check > label {
  opacity: 0;
}
.contact-item-textarea textarea {
  padding-top: 12rem;
  padding-bottom: 12rem;
  height: 151rem;
  width: 534rem !important;
}
.contact-check input {
  width: 25rem !important;
  height: 25rem !important;
  border: none;
  background-color: #e4e5e4;
}
.main-check {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 42rem;
}
.main-check p {
  font-size: 15rem;
}
.main-check a {
  color: red;
}
.contact-item-textarea > div {
  width: 534rem;
}
/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox using a span */
.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  width: 25rem; /* Set the custom width */
  height: 25rem; /* Set the custom height */
  background-color: #e4e5e4; /* Custom background color */
  border: none; /* Remove the border */
  border-radius: 4px; /* Optional, if you want rounded corners */
  display: inline-block;
  position: relative;
}

/* Customize the checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--blue); /* Change the background color when checked */
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark (the "tick") when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
  left: 8rem; /* Adjust for the new size */
  top: 1rem; /* Adjust for the new size */
  width: 8rem; /* Adjust the size of the tick */
  height: 14rem; /* Adjust the size of the tick */
  border: solid white;
  border-width: 0 2rem 2rem 0;
  transform: rotate(45deg);
}
.contact-form button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 17rem;
  background: var(--blue);
  padding: 17rem 70rem;
  border: none;
}
.main-check label {
  width: 25rem !important;
}
.radio-grp input {
  width: 16rem !important;
}
.radio-grp > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.radio-grp label {
  width: fit-content !important;
}
.radio-grp {
  width: fit-content;
  display: flex;
  gap: 20rem;
}

/* achievement style */
.achiev {
  padding-top: 81rem;
  padding-bottom: 100rem;
  background-image: url(../img/achiev-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.achiev-ttl {
  text-align: center;
  padding-bottom: 42rem;
}
.achiev-ttl h2 {
  font-weight: 400;
  font-size: 40rem;
  color: var(--blue);
}
.achiev-ttl h3 {
  color: var(--blue);
  font-size: 35rem;
}
/* footer */
footer {
  color: white;
  font-size: 13rem;
  background-color: var(--blue);
  text-align: center;
  padding-top: 17rem;
  padding-bottom: 17rem;
  display: flex;
  align-items: center;
  grid-area: 4rem;
  justify-content: center;
}
.achiev {
  padding: 40px;
  background-color: #f8f9fa;
}
.achiev-ttl {
  text-align: center;
}

.achiev-ttl h2 {
  font-size: 40rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.achiev-ttl h3 {
  font-size: 35rem;
  margin-bottom: 20px;
}

/* ------------------------------- */

.achiev-slide {
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; 
  overflow-y: auto;
}
.slider-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and newer Edge */
}

.slide-card {
  margin-bottom: 5rem;
  flex: 0 0 auto;
  background-color: #fff;
  margin-right: 20px;
 box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.08), 0 1rem 1rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: transform 0.3s;
  padding: 0 30rem 30rem 30rem;
  text-decoration: none;
  animation: slide 10s linear infinite; /* Sliding animation */
  transition: animation-play-state 0.5s;
}

.slide-card img {
  width: 383rem;
  height: auto;
  border-radius: 3rem;
}

.slide-card p {
  width: fit-content;
  text-decoration: none !important;
  font-size: 20rem;
  font-weight: bold;
  background-color: var(--purple);
  padding: 8rem 31rem;
  color: white;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.slide-card h5 {
  text-decoration: none !important;
  font-size: 20rem;
  color: var(--purple);
  padding-top: 10rem;
  padding-bottom: 15rem;
}

/* Sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

/* Hover effect */
.slider-container:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

/* --------------------------- */

.f-sec-tri {
  width: 324rem;
  height: auto;
}
.sp-menu {
  display: none;
}
/* responsive part */
@media (max-width: 1280px) {
  html {
    font-size: calc(100vw / 1280);
  }
}
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 768);
  }
  .carousel__navdots {
    display: none;
  }
  .container {
    padding-left: 84rem;
    padding-right: 84rem;
  }
  .global-link {
    display: none;
  }
  .carousel-wrapper {
    height: auto;
  }
  .carousel__slide {
    height: auto;
  }
  .sp-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sp-menu button {
    padding-right: 16rem;
    border: none;
    background-color: unset;
  }
  .sp-menu button img {
    width: 40rem;
    height: auto;
  }

  .carousel__slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
  }
  .fv-badge {
    position: absolute;
    bottom: 158rem;
    right: 0;
  }
  .fv-badge img {
    width: 100vw;
    height: auto;
  }
  /* ---sp menu relative */
  .sp-menu {
    position: relative;
  }

  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .dropdown-menu {
    max-height: 0; /* Hidden by default */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Smooth transition */
    background: rgba(255, 255, 255, 0.9); /* Optional: adjust as needed */
    position: absolute;
    top: 80rem; /* Adjust as needed to position below the button */
    right: -21rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 200;
  }
  .dropdown-menu ul {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .dropdown-menu li {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .dropdown-menu a {
    font-size: 20rem;
    text-decoration: none;
    color: var(--black);
  }

  .dropdown-menu.open {
    max-height: 300px; /* Adjust height based on the content size */
  }

  .bar {
    padding-top: 20rem;
    padding-bottom: 20rem;
    width: 95%;
  }
  .reason-grp {
    flex-direction: column;
    align-items: center;
  }
  .voice-grp {
    display: flex;
    justify-content: space-between;
    padding-top: 38rem;
    flex-direction: column;
    align-items: center;
    gap: 35rem;
  }
  .contact-form {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background: white;
    padding: 66rem 75rem 132rem 75rem;
  }
  .contact-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 23rem;
    gap: 17rem;
    flex-direction: column;
  }
  .contact-item input,
  .contact-item textarea {
    width: 420rem;
    border: none;
    background: #e4e5e4;
    font-size: 14rem;
    height: 35rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  .contact-item-textarea textarea {
    padding-top: 12rem;
    padding-bottom: 12rem;
    height: 151rem;
    width: 420rem !important;
  }
  .radio-grp {
    width: fit-content;
    display: flex;
    gap: 20rem;
    flex-direction: column;
  }
  .main-check {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 0 !important;
  }
  .contact-form button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 17rem;
    background: var(--blue);
    padding: 17rem 42rem;
    border: none;
  }
  .f-sec-main {
    padding-top: 53rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .about > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    flex-direction: column;
  }
  .nav-contact-last p {
    margin: 0;
    font-size: 20rem;
    font-weight: bold;
  }
  .nav-contact h4 {
    margin: 0 0;
    font-size: 45rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
  }
  .nav-contact > div:first-child div img {
    width: 21rem;
  }
  .nav-contact > div > div img {
    width: 27rem;
  }
  .nav-contact {
    width: 40%;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  .nav-contact p {
    font-size: 20.5rem;
    color: white;
    margin: 0 0 5rem;
  }
  footer {
    margin-bottom: 136rem;
  }
  .fv-badge {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .carousel__slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: calc(100vh - 136rem);
  }
  .fv-txt img {
    width: 403rem;
    height: auto;
    padding-left: 20rem;
  }
  .sp-button:hover {
    background-color: #39555b !important;
  }
}
@media (max-width: 425px) {
  html {
    font-size: calc(100vw / 425);
  }
  .container {
    padding-left: 28rem;
    padding-right: 28rem;
  }
  .bar {
    padding-top: 14rem;
    padding-bottom: 14rem;
    width: 95%;
  }
  .fixed-bar {
    padding: 14rem 0rem;
    width: 100%;
  }
  .logo img {
    scale: 80%;
  }
  .bar {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
  }
  .f-sec-main .wow {
    scale: 85%;
  }
  .f-sec-main {
    padding-top: 31rem;
}
  .voice-ttl h3 .sp-show-part {
    display: flex;
    align-items: center;
  }
  .fixed-bar .logo img {
    padding-left: 0rem;
    filter: invert(1) brightness(0);
  }
  .sp-menu button img {
    width: 32rem;
    height: auto;
  }
  .f-sec-last h4 {
    font-size: 23rem;
    color: var(--blue);
    padding-top: 17rem;
  }
  .nav-contact {
    display: flex;
    width: 100%;
    transition: all 0.3s ease;
  }
  .ttl-part h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 66rem;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 200;
  }
  .sp-show {
    display: block;
  }
  .sp-hidden {
    display: none;
  }
  .nav-contact h4 {
    margin: 0 0;
    font-size: 23rem !important;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
  }
  .nav-contact > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #8789c9;
    padding: 16rem 0 16rem;
  }
  footer {
    margin-bottom: 88rem;
  }
  .fv-txt {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 21rem;
    padding-top: 18vh;
    color: white;
  }
  .nav-contact-last h4 {
    font-size: 22rem !important;
  }

  h1 {
    font-size: 56.43rem;
  }
  .nav-contact > div {
    width: 100%;
  }
  .fv-badge {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .carousel__slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: calc(100vh - 78rem);
  }
  .fv-txt img {
    width: 319rem;
    height: auto;
    padding-left: 20rem;
  }
  /* .fixed-bar .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50px;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 200;
  } */
  .nav-contact p {
    font-size: 10.5rem;
    color: white;
    margin: 0 0 5rem;
  }

  .f-sec-first > div {
    background: #ffffff;
    padding: 32rem 20rem 9rem 20rem;
    border-radius: 10rem;
    margin-left: 0;
    margin-right: 0;
  }
  .f-sec-last .logo-bg {
    padding-top: 26.4rem;
    width: 331rem;
    height: auto;
  }
  .reason-pan {
    background: white;
    padding: 26.5rem 22.5rem 36.5rem 23.5rem;
    border-radius: 15rem;
    width: 316rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .voice-pan > div {
    padding-left: 26rem;
    padding-right: 26rem;
  }
  .voice-pan {
    position: relative;
    overflow: hidden;
    width: 374rem;
    padding-top: 22rem;
    padding-bottom: 36rem;
    background: #ffffff;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0 100%);
    box-shadow: 0 4rem 8rem 0 rgba(0, 0, 0, 0.2),
      0 6rem 20rem 0 rgba(0, 0, 0, 0.19);
  }
  .voice-ttl h3 {
    padding-top: 31rem;
    padding-bottom: 20rem;
    text-align: center;
  }
  .slide-card img {
    width: 309rem;
    height: auto;
    border-radius: 3rem;
  }
  .flow-pan p {
    font-size: 16rem;
    width: 100%;
    color: #464646;
  }
  .flow-pan > div {
    align-items: center;
    display: flex;
    width: 100% !important;
  }
  .flow-pan {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    gap: 34rem;
    padding-top: 24rem;
    padding-bottom: 24rem;
    border-bottom: 1px solid var(--purple);
    width: 100%;
    flex-direction: column;
  }
  .contact-form {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background: white;
    padding: 66rem 20rem 132rem 20rem;
  }
  .contact-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 23rem;
    gap: 17rem;
    flex-direction: column;
  }
  .contact-item input,
  .contact-item textarea {
    width: 305rem;
    border: none;
    background: #e4e5e4;
    font-size: 14rem;
    height: 35rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  .contact-item-textarea textarea {
    padding-top: 12rem;
    padding-bottom: 12rem;
    height: 151rem;
    width: 305rem !important;
  }
  .radio-grp {
    width: fit-content;
    display: flex;
    gap: 20rem;
    flex-direction: column;
  }
  .main-check {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 0 !important;
  }
  .contact-form button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 17rem;
    background: var(--blue);
    padding: 17rem 42rem;
    border: none;
  }
  .reason-ttl>h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sp-part {
    display: flex;
    align-items: center;
  }
  .sp-part {
   font-size: 32rem;
  }
  .pc-part {
    justify-content: center;
  }
}
